
<div class="m-10">
    <div class="grid gap-4 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1">
        <div>
            <div class="card bg-violet-400 p-4 rounded-lg">
                <div class="inline-flex items-center">
                    <img class="w-20 rounded-full" src="../../../assets/img/FelixPajon.png" alt="">
                    <div class="p-2">
                        <span>
                            This app was developed by Felix Pajon
                        </span>
                    </div>
                </div>
                <div class="flex justify-end">
                    <div class="inline-flex items-center">
                        <a class="m-2" href="https://www.linkedin.com/in/felixpajon/">
                            <i class="fa-brands fa-linkedin fa-2x"></i>
                        </a>
                        <a class="m-2" href="https://github.com/FelixPajon05">
                            <i class="fa-brands fa-github fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="card-footer flex justify-end">
                    <a href="https://felixpajon05.github.io/portfolio/" class="inline-flex items-center text-white">
                        Porfolio
                        <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                            </path>
                            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card bg-red-400 p-5 rounded-lg">
                <div class="card-title">
                    <h5 class="font-bold text-2xl">
                        Angular
                    </h5>
                </div>
                <div class="card-body text-justify">
                    Angular is a web application development framework created and maintained by Google.
                    It is used to create single page web applications (SPAs) and hybrid mobile applications.
                </div>
                <div class="card-footer flex justify-end">
                    <a href="https://angular.io/" class="inline-flex items-center text-white">
                        Docs
                        <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                            </path>
                            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card bg-sky-400 rounded-lg p-5">
                <div class="card-title">
                    <h5 class="font-bold text-2xl">
                        TypeScript
                    </h5>
                </div>
                <div class="card-body text-justify">
                    TypeScript agrega sintaxis adicional a JavaScript para admitir
                    una integración más estrecha con su editor.
                    Detecte errores temprano en su editor.
                </div>
                <div class="card-footer flex justify-end">
                    <a href="https://www.typescriptlang.org/" class="inline-flex items-center text-white">
                        Docs
                        <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                            </path>
                            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card rounded-lg bg-amber-300 p-5">
                <div class="card-title">
                    <h5 class="font-bold text-2xl">
                        Open Weather Map API
                    </h5>
                </div>
                <div class="card-body text-justify">
                    Current weather data for any location on Earth,
                    including over 200,000 cities! Data is frequently
                    updated based on global and local weather models,
                    satellites, radar, and a vast network of weather stations.
                </div>
                <div class="card-footer flex justify-end">
                    <a href="https://openweathermap.org/api" class="inline-flex items-center text-white">
                        Docs
                        <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                            </path>
                            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card rounded-lg bg-sky-400 p-5">
                <div class="card-title">
                    <h5 class="font-bold text-2xl">
                        Tailwindcss
                    </h5>
                </div>
                <div class="card-body text-justify">
                    Tailwind CSS is an open-source CSS design framework
                    used for creating user interfaces quickly and efficiently.
                    Rather than providing predefined components,
                    Tailwind CSS offers a wide variety of CSS utilities that enable developers
                    to easily design and customize their own components.
                </div>
                <div class="card-footer flex justify-end">
                    <a href="https://tailwindcss.com/" class="inline-flex items-center text-white">
                        Docs
                        <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                            </path>
                            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card bg-blue-500 rounded-lg p-5">
                <div class="card-title">
                    <h5 class="font-bold text-2xl">
                        Font Awesome
                    </h5>
                </div>
                <div class="card-body">
                    You can add icons to your web projects with a little bit of code -
                    it's super easy once you have a few of the basics under your belt.
                </div>
                <div class="card-footer flex justify-end">
                    <a href="https://fontawesome.com/" class="inline-flex items-center text-white">
                        Docs
                        <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                            </path>
                            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card bg-red-400 rounded-lg p-5">
                <div class="card-title font-bold text-2xl">
                    HTML 5
                </div>
                <div class="card-body text-justify">
                    HTML is the World Wide Web's core markup language. Originally,
                    HTML was primarily designed as a language for semantically describing scientific documents.
                    Its general design, however, has enabled it to be adapted, over the subsequent years,
                    to describe a number of other types of documents and even applications.
                </div>
                <div class="card-footer flex justify-end">
                    <a href="https://html.spec.whatwg.org/multipage/" class="inline-flex items-center text-white">
                        Docs
                        <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                            </path>
                            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card bg-green-500 rounded-lg p-5">
                <div class="card-title font-bold text-2xl">
                    ICONS8
                </div>
                <div class="card-body text-justify">
                    Iconos, 
                    ilustraciones, 
                    fotos, 
                    música y 
                    herramientas 
                    de diseño
                </div>
                <div class="card-footer flex justify-end">
                    <a href="https://iconos8.es/" class="inline-flex items-center text-white">
                        Docs
                        <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                            </path>
                            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>